body {
    font-family: helvetica;
}
a {
  color: rgb(6, 69, 173);
}
  a.visited {
    color: #0b0080;
  }
  a:hover {
    text-decoration: underline;
  }
ul {
  padding: 0;
}

.container {
  display: inline-block;
  width: 100%;
  margin: 0px;
  margin-right: 0px;

}
/* header */
.header {
  background-color: #f6f6f6;
  height: 87px;
  width: 100%;
  margin: auto;
}
#right_nav_header {
  float: right;
}
#top_nav_header {
  float: right;
}
/* pane */
.pane {
  display: inline-block;
  width: 85%;
  padding: 25px;
}
.pane img {
  display: inline;
  margin: 10px;
}

.pane h4 {
  font-weight: bold;
  color: black;
}
#feature img {
  float: left;
}
#news img {
  float: right;
}
#did img {
  float: right;
  display: inline-block;
}
#day img {
  float: right;
  display: inline-block;
}
/* intro */
.intro_main {
  width: 99%;
  margin: 10px;
  border: .5px solid lightgrey;
  background-color: #f6f6f6;
  height: 125px;
  padding: 10px;
  display: block;
}
/* Sidebar */

.sidebar {
  width:  15%;
  height: 1000px;
  padding: 20px;
  float: left;
  background-color: #f6f6f6;
  font-size: .9em;
  line-height: 1.5em;
}
.sidebar .logo {
  border-bottom: none;
}
.sidebar div {
  border-bottom: .5px lightgrey solid;
}

.sidebar ul {
list-style: none;

}
.sidebar_item ul {
  padding: 5px;
}
.sidebar_mainPage {
  margin-top: 30px;
}
