a {
  color: steelblue;
}
  a.visited {
    color: ;
  }
  a:hover {
    text-decoration: underline;
  }

.container {
  width: 97%;
  margin: 0px;
  margin-right: 0px;
  padding: 0px;
}
.header {
  background-color: #f6f6f6;
  height: 87px;
  width: 100%;
  margin: auto;
}
#right_nav_header {
  float: right;
}
#top_nav_header {
  float: right;
}
.intro_main {
  width: 95%;
  margin: 10px;
  border: 3px, solid green;
  background-color: red;
  height: 100px;
  display: block;
}
/* Sidebar */

.sidebar {
  width:  0%;
  height: 1000px;
  padding: 20px;
  float: left;
  background-color: #f6f6f6;
  font-size: .9em;
  line-height: 1.5em;
  font-family: helvetica;
}
.sidebar div {
  border-bottom: .5px lightgrey solid;
}
.sidebar .logo {
  border-bottom: none;
}
.sidebar ul {
list-style: none;
padding: 0;

}
.sidebar_item ul {
  padding: 5px;
}
.sidebar_mainPage {
  margin-top: 30px;
}
